{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <h3 class="singleProject__fix">{{ project.title }}</h3>
                <br>
                <h4 class="singleProject__subtitle">DATA ANALYSIS</h4>
                <div class="singleProject__toolStack">
                    <!-- Your tool stack content here -->
                </div>

               {% if project.guess > 3 %}
    <p><strong>Outcome: POSITIVE</strong></p>
    <p>The recommended amount of conductance is 2.4 siemens.</p>
    <p>Recommendations:</p>
    <p> - Lessen soil ion concentration slightly</p>
    <p> - Change crop type grown here</p>
    <p> - Lessen amount of watering</p>
{% else %}
    <p>Outcome: NEGATIVE</p>
    <p><strong>Your crops do not have enough nutrients.</strong></p>
    <p>The recommended amount of conductance is 2.4 siemens</p>
    <p>Recommendations:</p>
    <p> - Increase soil ion concentration</p>
                   <p> - Increase amount of watering</p>
{% endif %}



            </div>
            <div class="column column--2of3">
                <img class="singleProject__preview" src="{{ project.imageURL }}" alt="portfolio thumbnail" />
                <h1 class="singleProject__title">{{ project.owner.name }}</h1>
                <a href="{% url 'user-profile' project.owner.id %}"
                    class="singleProject__developer">{{ project.owner.username }}</a>
                <h3 class="singleProject__subtitle">DESCRIPTION</h3>

                <div class="singleProject__info">
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

